<form #driverForm="ngForm" *ngIf="driver">
  <table class="table table-striped">
    <tr>
      <td>Imię:</td>
      <td>
        <input type="text" name="firstName" class="form-control" [(ngModel)]="driver.firstName">
      </td>
    </tr>

    <tr>
      <td>Nazwisko:</td>
      <td>
        <input type="text" name="secondName" class="form-control" [(ngModel)]="driver.secondName">
      </td>
    </tr>

    <tr>
      <td>Narodowość:</td>
      <td>
        <input type="text" name="nationality" class="form-control" [(ngModel)]="driver.nationality">
      </td>
    </tr>

    <tr>
      <td>Zespół:</td>
      <td>
        <input type="text" name="team" class="form-control" [(ngModel)]="driver.team">
      </td>
    </tr>

    <tr>
      <td>Data urodzenia (RRRR-MM-DD):</td>
      <td>
        <input type="text" name="dateOfBirth" class="form-control" [ngModel]="driver.dateOfBirth">
      </td>
    </tr>

    <tr>
      <td>Czy był mistrzem świata?:</td>
      <td>
        <input type="checkbox" name="worldChampion" class="form-control" [(ngModel)]="driver.wasWorldChampion">
      </td>
    </tr>

    <tr>
      <td>
        Wyniki:
      </td>
      <td>
        <select [(ngModel)]="driver.results" name="results" multiple class="form-control" [compareWith]="compareDrivers">
          <option *ngFor="let result of availableResults" [ngValue]="result">
            {{result.circuit.country}}, {{result.pos}}.
          </option>
        </select>
      </td>
    </tr>
  </table>

  <button type="button" class="btn btn-primary" (click)="save()">Zapisz</button>
  <button type="button" class="btn btn-default" routerLink="/drivers">Powrót</button>
</form>
