<table class="table table-striped table-hover">
  <tr>
    <th>
      ID
    </th>

    <th>
      Nazwa
    </th>

    <th>
      Kraj
    </th>

    <th>
      Wyścig uliczny?
    </th>

    <th>
      Wyścig nocny?
    </th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <tr *ngFor="let circuit of circuits | async">
    <td>
      {{circuit.id}}
    </td>

    <td>
      {{circuit.name}}
    </td>

    <td>
      {{circuit.country}}
    </td>

    <td>
      {{circuit.hostsStreetRace ? "tak" : "nie"}}
    </td>

    <td>
      {{circuit.hostsNightRace ? "tak" : "nie"}}
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="[circuit.id]">Pokaż</button>
    </td>

    <td>
      <button class="btn btn-default" [routerLink]="[circuit.id, 'edit']">Edytuj</button>
    </td>

    <td>
      <button class="btn btn-danger" (click)="remove(circuit)">Usuń</button>
    </td>
  </tr>
</table>

<button class="btn btn-primary" routerLink="/circuits/new">Nowy tor</button>
